body {
    background-color: rgb(113, 26, 163);
}
h1 {
    text-align: center;
    font-size: 70px;
    background-color: rgb(214, 61, 228);
    width: 210px;
    height: 100px;
    border-radius: 20px;
    margin-left: 800px;
}
div#c {
    width: 1450px;
    height: 1000px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(214, 61, 228);
    border-radius: 10px;
}
div#volta {
    width: 210px;
    height: 70px;
    margin-top: 860px;
    margin-left: 70px;
    background-color: rgb(113, 26, 163);
    border-radius: 10px;
    font: normal 50px Cursive;
    text-align: center;
    line-height: 70px;
}
a#avolta {
    color: black;
}